<div style="margin-top: 50px;">
	<center>
		<h1>404 - Нет такого файла!</h1>
		<img src="../../<?php echo GP_LOCATE; ?>img/misc/404.gif" title="Not Found" alt="Not Found"><br />
		<p>We looked 404 times already but can't find anything, Not even an X marking the spot.</p>
		<p>This system is not complete yet. So the page probably does not exist.</p><br>
	</center>
</div>