<p>
<?=INS123?>
<h4><?=INS124?></h4>
<?=INS125?>
</p>

<?php
 error_reporting(0);
 include("../GameEngine/config.php"); ?>
<p>
<center><font size="4"><a href="<?php echo HOMEPAGE; ?>">> My BrainianZ homepage <</font></a></center>
</p>
