
	<br />

	<h4>&nbsp;&nbsp;Disclaimer</h4>
<ul>

	<li><?=INS4?></li>
    <br />
	<li><?=INS5?></li>
    <br />
	<li><?=INS6?></li>
    <br />
	<li><?=INS7?></li>
    <br />
	<li><?=INS8?></li>
    <br />
        <li><?=INS9?></li>



    <br />
	<h4><?=INS0?></h4>
	install - 777<br />
	GameEngine - 777<br />
        mcahche - 777<br />
        hcahche - 777<br />
	<h4><?=INS1?></h4>
	<?=INS2?>
	<?=INS3?>


</ul>
	<br />


	<form>
		<input type="button" name="next" value="Next" onclick="location.href='?s=1'">
	</form>



