<form action="include/multihunter.php" method="post" id="dataform">

<p>
	<span class="f10 c"><?=INS115?></span>
		<table>
			<tr><td><?=INS116?></td><td><input type="text" name="username" id="mhpw" value="Multihunter"></td></tr>
			<tr><td><?=INS117?></td><td><input type="text" name="password" id="mhpw" value="12345"></td></tr>
			<tr><td><?=INS118?></td><td></td></tr>
		</table>
</p>

	<center>
	<input type="submit" name="Submit" id="Submit" value="Submit"></center>
</form>

