<form action="include/oasis.php" method="post" id="dataform">
<p>
	<span class="f10 c"><?=INS112?></span>
		<table>
			<tr><td><b><?=INS113?></b><?=INS114?></td></tr>
			<tr><td><center><input type="submit" name="Submit" id="Submit" value="Create.."></center></td></tr>
		</table>
</p>
</form>
