<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd"><head>

  <link REL="shortcut icon" HREF="favicon.ico"/>

	<title><?php if($_SESSION['access'] == ADMIN){ echo 'Admin Control Panel - TravianX'; } else if($_SESSION['access'] == MULTIHUNTER){ echo 'Multihunter Control Panel - TravianX'; } ?></title>

	<link rel=stylesheet type="text/css" href="../img/admin/admin.css">

	<link rel=stylesheet type="text/css" href="../img/admin/acp.css">

	<link rel=stylesheet type="text/css" href="../img/../img.css">

		<script src="mt-full.js?423cb"  type="text/javascript"></script>

	<script src="ajax.js" type="text/javascript"></script>



	<meta http-equiv="content-type" content="text/html; charset=UTF-8">

	<meta http-equiv="imagetoolbar" content="no">

</head>
<?php

if($_SESSION['access'] < 8) die("Access Denied: You are not Admin!"); ?>

<?php
//$q = "SELECT * FROM palevo WHERE `type` = '0' and `sit`= '0'";
$q1 = "SELECT `infa` FROM palevo WHERE `type` = '0' AND `sit` = '0' GROUP BY `infa` HAVING count(`uid`) > 1";

$work_arr = $database->query($q1);








?>
</br>
<table id="profile">
    <thead>
    <tr><th colspan="3">Multi Account Detect</th></tr>
    <td class="b">Player</td>
    <td class="b">IP</td>
    </thead>
    <tbody>

    <div align="center">
        <?php

        foreach($work_arr as $work_inf)
        {
        //    $output[] = '<a href="?p=player&uid='.$u['id'].'">'.$u['username'].'</a>'; }
        $q2 = "
        SELECT `uid`
        FROM
        palevo
        WHERE
        `infa` = '".$work_inf['infa']."' AND `sit`='0'
        GROUP BY `uid`";

        $inf_arr = $database->query($q2);
        $output = "";
        if(count($inf_arr)>1)
        {
        unset($userdata);
        foreach($inf_arr as $work_use)
        {
        $userdata = $database->query("SELECT `id`,`username` FROM users WHERE id = ".$work_use['uid']);

        foreach ($userdata as $u) {
        $output = $output.'<a href="?p=player&uid='.$u['id'].'">'.$u['username'].'</a> + '; }

        }

        ?>
    </div>
    <tr >
        <td >
            <div align="center">
                <?php
                echo $output;//$output = implode(' and ', $output);

                ?>
            </div></td>
        <td >
            <div align="center">
                <?php
                echo $work_inf['infa'];
                ?>
            </div></td>
    </tr>
    <div align="center">
        <?php
        }

        }

        echo '</tbody></table>';

?>






</div>