<?php
$id = $_GET['did'];
if(isset($id))
{
	$village = $database->getVillage($id);
	?>
	<br /><br />
	<table id="profile">
		<thead>
		<tr>
				<th colspan="5" class="on">В Деревню</th>
			</tr>
			<tr>
				<td class="on">Откуда</td>
                <td>Дерево</td>
                <td>Глина</td>
                <td>Железо</td>
                <td>Зерно</td>
			</tr>
		</thead>
			<?php
				$sql = "SELECT * FROM movement WHERE `to` = ".$_GET['did']." and `sort_type`='0' LIMIT 20";
				$result = mysql_query($sql);
				while($row = mysql_fetch_assoc($result))
				{
					$name=$database->getVillageField($row['from'],"name");
					echo '
					<tr>
						<td class="on"><a href="?p=village&did='.$row['from'].'">'.$name.'</a></td>
                        <td>'.$row['wood'].'</td>
                        <td>'.$row['clay'].'</td>
                        <td>'.$row['iron'].'</td>
                        <td>'.$row['crop'].'</td>
					</tr>';
				}
			?>
		</thead>
	</table>

		<table id="profile">
		<thead>
		<tr>
				<th colspan="5" class="on">Из Деревни</th>
			</tr>
			<tr>
				<td class="on">Откуда</td>
                <td>Дерево</td>
                <td>Глина</td>
                <td>Железо</td>
                <td>Зерно</td>
			</tr>
		</thead>
			<?php
				$sql = "SELECT * FROM movement WHERE `from` = ".$_GET['did']." and `sort_type`='0' LIMIT 20";
				$result = mysql_query($sql);
				while($rowt = mysql_fetch_assoc($result))
				{
					$name=$database->getVillageField($rowt['to'],"name");
					echo '
					<tr>
						<td class="on"><a href="?p=village&did='.$rowt['to'].'">'.$name.'</a></td>
                        <td>'.$rowt['wood'].'</td>
                        <td>'.$rowt['clay'].'</td>
                        <td>'.$rowt['iron'].'</td>
                        <td>'.$rowt['crop'].'</td>
					</tr>';
				}
			?>
		</thead>
	</table>
	<?php
}
else
{
	include("404.tpl");
}
?>