﻿<?php include('../GameEngine/Lang/Admin/en.php'); ?>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="Content-Language" content="en">
<link rel="stylesheet" type="text/css" href="../img/admin/main.css">
<title>ACP :: <?php echo SERVER_NAME; ?></title>

<script language="javascript" src="../crypt.js" type="text/javascript"></script>
<script language="javascript" src="ajax.js" type="text/javascript"></script>
<script>
var editing = false;
var CurrentStep = 1;
function SetCurrent(val){
	if(CurrentStep!=val){
		$('div_'+CurrentStep).style.display = 'none';
		$('a_title_'+CurrentStep).className = '';
		$('div_'+val).style.display = 'block';
		$('a_title_'+val).className = 'current';
	}
	CurrentStep = val;
}
</script>

<link rel="stylesheet" type="text/css" href="../img/admin/login.css">
</head>
<body>
<div align="center">
    <form action="index.php" method="post">
    <input type="hidden" name="action" value="login">
    <div class="login">
        <div align="center"><img border="0" src="../img/admin/admin.gif"></div>
        <table style="margin-top:20px" align="center" cellpadding="3" cellspacing="3" width="300" height="142">
        <h4><?=$defineLang['login_welcome']; ?></h4>
        <div style="color:#F00;">
        <?php
            if(isset($_GET['error'])){
            	if($_GET['error']==1){
                	echo $defineLang['login_error_info'];
                }elseif($_GET['error']==2){
                	echo $defineLang['login_error_code'];
                }
            }
        ?></div>
            <tr>
                <td height="19" width="70">
                <img border="0" src="../img/admin/breadcrumb_separator_arrow_1_dot.png" width="10" height="5"><?=$defineLang['login_username'];?>:</td>
                <td height="19" width="371" colspan="2"><input name="name" type="text" value="<?php echo $_SESSION['username']; ?>" maxlength="15"></td>
            </tr>
            <tr>
                <td height="21" width="70">
                <img border="0" src="../img/admin/breadcrumb_separator_arrow_1_dot.png" width="10" height="5"><?=$defineLang['login_password'];?>:</td>
                <td height="21" width="371" colspan="2"><input name="pw" type="password" value="" maxlength="20"></td>
            </tr>
            <tr>
                <td height="19" width="157">
                <img border="0" src="../img/admin/breadcrumb_separator_arrow_1_dot.png" width="10" height="5"><?=$defineLang['login_security_code'];?>:</td>
                <td height="19" width="131"><input name="img" maxlength="6" size="6"></td>
                <td height="19" width="131"><img border="0" src="img.php?code_section=<?php echo time(); ?>"></td>
            </tr>
            <tr>
                <td colspan="3">
                <p align="center">
                <button type="submit" class="loginbtn" value=""><img width="80" height="20" src="../img/admin/b/l1.gif" /></button> 
                </p>
                </td>
            </tr>
        </table>
        
    </div>
    </form>
</div>
<div id="ce"></div>
</div>
</body>
</html>